<div [@routerTransition]>
    <ngb-tabset>
        <ngb-tab>
            <ng-template ngbTabTitle>Дуудлагын бүртгэл</ng-template>
            <ng-template ngbTabContent>
                <app-inbound></app-inbound>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Гомдлын бүртгэл">
            <ng-template ngbTabContent>
                <p>Content for tab 2</p>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Дуудлагын жагсаалт">
            <ng-template ngbTabContent>
                <p>Content for tab 3</p>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Сошиалиар бүртгэх">
            <ng-template ngbTabContent>
                <p>Content for tab 3</p>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Тайлан">
            <ng-template ngbTabContent>
                <p>Content for tab 3</p>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
